@charset "utf-8";
/* CSS Document */

.filter {
	border: solid 1px #e1e1e1;
	box-shadow: 3px 3px 3px #e1e2e3, inset 0 0 3px #ffffff;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
}
.filter .row {
	margin: 20px 0;
}


.team-li {
	padding: 20px 0;
	border-bottom: 1px #ddd solid;
}